Options All -Indexes

<FilesMatch "(config|.+\.html)\.php">
	deny from all
</FilesMatch>

<IfModule mod_rewrite.c>
	RewriteEngine on

	RewriteCond %{REQUEST_URI} !\.(bmp|cgi|css|flv|gif|ico|jpe?g|js|png|html|php|swf|xml)$
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d

	RewriteRule (.*) index.php [L,QSA]
</IfModule>

ExpiresActive On
ExpiresByType image/gif "access plus 1 weeks"
ExpiresByType image/jpg "access plus 1 weeks"
ExpiresByType image/jpeg "access plus 1 weeks"
ExpiresByType image/png "access plus 1 weeks"
ExpiresByType text/css "access plus 1 weeks"