
body {
	background: #f3f0eb;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	margin: auto;
	height: 100%;
}

header {
	background: #000 url("../../resources/images/logga1.png") no-repeat center;
	width: 100%;
	text-align: center;
}

p {
	padding: 0;
	line-height: 1.3em;
}

p a{
	font-weight: bold;
}

a {
	color: #000;
	text-decoration: none;
}

#logo {
	color: #fff;
	display: inline-block;
	padding: 20px 0 20px 0;
	margin: auto;
	font-size: 4em;
	background: rgba(0,0,0,0.5);
	height: 100%;
	width: 100%;
}
#logo a {
	color: #fff;
}

nav {
	border-top: 1px solid #000;
	background: #333;
	padding: 0;
	margin: 0;
	width: 100%;
	overflow: hidden;
	text-align: center;
}

#nav_div {
	margin: auto;
	width: 1000px;
}

nav ul {
	float: left;
	margin: auto;
	padding: 0;
	overflow: hidden;
}

nav li {
	display: inline-block;
	border-left: 1px solid #222;
	margin: 0;
}

nav li a {
	color: #fff;
	display: block;
	background: #333;
	height: 100%;
	padding: 0.8em 1.5em 0.8em 1.5em;
}

nav li a.active {
	color: #111;
	background: #f3f0eb;
}

nav li a:hover:not(.active) {
	background: #222;
}

nav li:last-child {
	border-right: 1px solid #222;
}

nav #login {
	float: right;
	margin: 0.3em .3em 0.3em .3em;
	display: inline-block;
	font-family: sans-serif;
	background: #f3f0eb;
	color: #111;
	border-radius: 3px;
	padding: 0.4em 0.4em 0.4em 0.4em;
	border: 1px solid #000;
}
nav #login a {
	padding: 0 0.6em 0 0.6em;
}
nav #login a:hover {
	text-decoration: underline;
}

.main {
	padding: 0;
	width: 1000px;
	margin: auto;
}

.main h1 {
	padding: 0 0 0.1em 0;
	font-size: 1.8em;
	display: inline;
}

.main_section {
	margin-top: 1em;
	overflow: hidden;
	padding: 10px;
	background: #fff;
}
.main_section img {
	width: 100%;
	height: auto;
}
.main_section a:hover {
	text-decoration: underline;
}

.image_div {
	float: left;
	width: 300px;
	padding: 0 1em 0 0 ;
}

.calendar_row {
	width: 100%;
	border-top: 1px #ccc solid;
	border-right: 1px #ccc solid;
	border-left: 1px #ccc solid;
	overflow: hidden;
}
.calendar_row:last-child {
	border-bottom: 1px #ccc solid;
}

.calendar_col {
	border-right: 1px #ccc solid;
	text-align: center;
	float: left;
	width: 14%;
	overflow: hidden;
}
.calendar_col:last-child {
	border-right: none;
}
.calendar_day {
	padding: 0.5em 0.5em 0.5em 0.5em;
	text-align: left;
	height: 90px;
}

#calendar_labels {
	background: #ccc;
}

.calendar_week_label {
	display: none;
	float: right;
}

.recipe_header {
	width: 100%;
	overflow: auto;
}

.recipe_header h1 {
	padding-top: 0.1em;
	float: left;
	color: #000;
}

.recipe_header_info {
	text-align: center;
	width: 303px;
	float: left;
}
.recipe_header_info ul {
	padding-left: 1.5em;
	width: 303px;
	display: block;
}
.recipe_header_info ul#bold {
	font-weight: bold;
}
.recipe_header_info li {
	height: 1.3em;
	text-align: center;
	width: 33%;
	float: left;
	border-right: 1px #ccc dashed;
}
.recipe_header_info li:last-child {
	border-right: none;
}

.image_div_recipe {
	float: left;
	width: 50%;
	padding: 0.5em 1em 0 0 ;
}

.ingredients {
	line-height: 1.3em;
	width: 100%;
}
.ingredients ul {
	width: 100%;
}
.ingredients li {
	list-style-position: inside;
	list-style-type: disc;
	float: left;
	width: 50%;
}

.instructions {
	line-height: 1.3em;
	width: 100%;
}
.instructions ol {
	width: 100%;
}
.instructions li {
	padding-top: 0.5em;
	list-style-position: inside;
	list-style-type: integer;
	float: left;
	width: 100%;
}

.comments {
	line-height: 1.3em;
	width: 100%;
}
.comments li {
	padding-top: 1em;
	width: 100%;
}
.comments li:last-child {
	padding-bottom: 1em;
}

.comment_name {
	font-weight: bold;
	display: inline;
}

#line {
	margin: auto;
	width: 95%;
	height: 1px;
	background: #ccc;
}

#write_comment {
	padding: 1em 0 1em 0;
	font-weight: bold;
}
textarea {
	resize: none;
	width: 440px;
	height: 10em;
}
label {
	display: inline-block;
	padding: 0.4em 0 0.4em 0;
}
input[type=text] {
	background: #f3f0eb;
	padding: 0.2em 0.4em 0.2em 0.4em;
	border: 1px solid #111;
}
input[type=password] {
	background: #f3f0eb;
	padding: 0.2em 0.4em 0.2em 0.4em;
	border: 1px solid #111;
}
input[type=submit] {
	border-radius: 3px;
	background: #333;
	color: #fff;
	padding: 0.2em 0.8em 0.2em 0.8em;
	border: 1px solid #111;
}
input[type=reset] {
	background: none;
	border: none;
}
input[type=submit]:hover {
	background: #222;
	text-decoration: underline;
}
input[type=reset]:hover {
	text-decoration: underline;
}

.errortext {
	color: red;
}

#deleteform {
	display: inline;
}

@media only screen and (max-width: 1020px) {
	.main {
		width: 100%;
	}
	.calendar_day {
		height: 9vw;
	}
	.image_div {
		width: 30%;
	}
	#nav_div {
		width: 100%;
	}
}

@media only screen and (max-width: 480px) {
	header {
		display: none;
	}
	nav ul {
		width: 100%;
	}
	nav li {
		width: 100%;
	}
	nav li {
		border: none;
		border-bottom: 1px solid #222;
	}
	nav #login {
		float: none;
	}
	.image_div {
		width: 100%;
	}
	
	.calendar_col {
		border-top: 1px #ccc solid;
		width: 100%;
		
	}
	.calendar_row {
		border-top: none;
	}
	.calendar_col .calendar_day {
		min-height: 1em;
		height: auto;
	}
	#calendar_labels {
		background: #ccc;
		display: none;
	}
	.calendar_week_label {
		display: block;
		float: right;
	}
	
	.image_div_recipe {
		width: 100%;
	}
	.recipe_header h1 {
		text-align: center;
		width: 100%;
	}
	.recipe_header_info {
		width: 100%;
	}
	.recipe_header_info ul {
		width: 100%;
		padding-left: 0;
	}
	.ingredients li {
		width: 100%;
	}
	textarea {
		width: 100%;
	}
}